#exchanges-title {
  margin-left: 1rem;
}

.exchange-list, .gifts-list {
  list-style: none;
  margin: 0 1rem;
}

.gifts-list {
  margin-bottom: 1rem;
}

.exchange-list-item, .gifts-list-item {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.exchange-list-item > p, .gifts-list-item > p  {
  margin: 10px 0;
}

.exchange-list-item a, .exchange-list-item img {
  vertical-align: middle;
}

.exchange-form {
  padding: 0 2rem;
  border: 1px solid #ddd;
}

.exchange-form-label {
  width: 80px;
  text-align: right;
  margin-right: 1rem;
}

.exchange-source-input {
  min-height: 4rem;
}

.exchange-description-input {
  min-height: 10rem;
}

.gift-description-input {
  min-height: 7rem;
}

.exchange-form-buttonbar {
  width: 100%;
  max-width: 308px;
  text-align: right;
}

.exchange-form-buttonbar .btn {
  margin-left: 1rem;
}

.add-exchange-title {
  display: inline-block;
  margin-right: 0.3rem;
}

.add-gift-title {
  display: inline-block;
}

.add-gift-button {
  margin-top: -0.5rem;
}

@media screen and (max-width: 400px) {

  .exchange-form-label {
    width: 100%;
    text-align: left;
    margin-right: 0;
  }

  .exchange-form-buttonbar {
    text-align: left;
  }
  
}
