.form-group {
  margin: 1em 0;
}

.exchange-form-label {
  width: 80px;
  text-align: right;
  margin-right: 1em;
}

.exchange-description-input {
  min-height: 10em;
}

.gift-description-input {
  min-height: 7em;
}

/*.exchange-form-buttonbar {
  width: 280px;
  text-align: right;
}*/

.exchange-form-buttonbar .btn {
  margin-left: 1em;
}

@media screen and (max-width: 400px) {
  .exchange-form-label {
    width: 100%;
    text-align: left;
    margin-right: 0;
  }
}