#reproductions-title {
  margin-left: 1rem;
}

.add-reproduction-title {
  display: inline-block;
  margin-right: 0.3rem;
}

.reproduction-list {
  list-style: none;
  margin: 0 1rem;
}

.reproduction-list-item {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.reproduction-list-item > p  {
  margin: 10px 0;
}

.reproduction-list-item a, .reproduction-list-item img {
  vertical-align: middle;
}

.reproduction-form {
  padding: 0 2rem;
  border: 1px solid #ddd;
}

.reproduction-form-label {
  width: 80px;
  text-align: right;
  margin-right: 1rem;
}

.reproduction-form-buttonbar {
  width: 100%;
  max-width: 308px;
  text-align: right;
}

.reproduction-form-buttonbar .btn {
  margin-left: 1rem;
}

.reproduction-copy-of-container {
  display: inline-block;
  font-size: 14px;
  max-width: 220px;
}

.reproduction-copy-of-container > p {
  color: #717171;
}

#exchange-selector-list {
  list-style: none;
  margin: 0;
}

#exchange-selector-list > li {
  padding: 0.6em;
  cursor: pointer;
}

#exchange-selector-list > li.selected {
  background-color: #5bc0de;
}

@media screen and (max-width: 453px) {

  .reproduction-form-label {
    width: 100%;
    text-align: left;
    margin-right: 0;
  }

  .reproduction-form-buttonbar {
    text-align: left;
  }
  
}
