#reproductions-title {
  margin-left: 1rem;
}

.add-reproduction-title {
  display: inline-block;
  margin-right: 0.3rem;
}

.reproduction-list {
  list-style: none;
  margin: 0 1rem;
}

.reproduction-list-item {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.reproduction-list-item > p  {
  margin: 10px 0;
}

.reproduction-list-item a, .reproduction-list-item img {
  vertical-align: middle;
}

.reproduction-form {
  padding: 0 2rem;
  border: 1px solid #ddd;
}

.reproduction-form-label {
  width: 80px;
  text-align: right;
  margin-right: 1rem;
}

@media screen and (max-width: 400px) {

  .reproduction-form-label {
    width: 100%;
    text-align: left;
    margin-right: 0;
  }

  .reproduction-form-buttonbar {
    text-align: left;
  }
  
}
